.EightBall {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;

}

.EightBall-h2 {
    margin: 0;
    padding-top: 45%;
    font-size: 2.5rem;
    color: white;
}

.EightBall-btn {
    font-size: 20px;
    margin: 20px;
    background-color: teal;
    color: white;
    height: 35px;
    border-radius: 15px;
}